@charset "utf-8";
/* CSS Document */

body{
	background-color:#4A374A;
	}
h1{
	text-align:center;
	font-family:黑体;
	font-size:50px;
	color:#FFF;
	}
img{
	width:100%;
	height:135px;}
td{
	width:500px;
	}
#xingming{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#nianling{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#xingbie{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#shengri{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#aihao{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#tixing{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#xuexiao{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#banji{
	width:100%;
	height:40px;
	border:0;
	font-size:20px;
	}
#donghuapian{
	width:100%;
	height:300px;
	border:0;
	font-size:20px;
	}
#shiwu{
	width:100%;
	height:300px;
	border:0;
	font-size:20px;
	}
#yuanwang{
	width:100%;
	height:300px;
	border:0;
	font-size:20px;
	}
#pingjia{
	width:100%;
	height:300px;
	border:0;
	font-size:20px;
	}